@import 'base/mixins';
@import 'base/variables';
@import 'blocks/header';
@import 'blocks/meet';
@import 'blocks/main';
@import 'blocks/animals';
@import 'blocks/footer';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}